*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;}
.container{
    width: 100%;
    background: linear-gradient(-45deg,rgb(128, 227, 245),rgb(137, 137, 190));
    height: 100vh;
    /* margin: 0 auto; */
}
.menyu{
    width: 100%;
    background: linear-gradient(-45deg,rgb(105, 189, 204),rgb(133, 133, 235));
    
}
.logo{
    display: inline-block;
    width: 30%;
    line-height: 100px;
    text-align: center; 
    font-size: 40px;
    font-weight: bold;
    color: gold;
}
.menyu-ul{
    display: inline-block;
    width: 68%;
    list-style: none;
    color: black;
    padding-left: 100px;
}
.menyu-ul li{
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    border: 1px solid aqua;
    padding: 10px 15px;
    border-radius: 5px;
}
.text{
    text-align: center;
    padding-top:100px ;
}
.text h1{
    font-size: 80px;
    color: gold;
}
.text p{
    color: black;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
}
.blog-li{
    position: relative;
    transition: all .3s linear;
}
.blog-ul{
    position: absolute;
    left: -20px;
    top: 39px;
    background: aqua;
    color: #000;
    display: none;
    transition: all .3s linear; 
}
.blog-ul li{
    display: block;
    border: 1px solid #000;
    border-radius: 0;
    margin: 0;
    transition: all .3s linear;
}
li:hover{
    background: #fff;
    color: #000;
}
.blog-li:hover > ul{
    display: block;
    transition: all .3s linear;
}
.link-li{
    position: relative;
    transition: all .3s linear;
}
.link-lu{
    position: absolute;
    left: 103px;
    top: 0px;
    background: rgb(25, 0, 255);
    color: #fff;
    display: none;
    transition: all .3s linear; 
}
.link-lu li{
    display: block;
    border: 1px solid #000;
    border-radius: 0;
    margin: 0;
    transition: all .3s linear;
}
.li:hover{
    background: #fff;
    color: #000;
}
.link-li:hover > ul{
    display: block;
    transition: all .3s linear;
}
.form-input{
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    
}
.link{
    font-size: 800px;
    border-radius: 10px;
}
.form-input{
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    color: #0088CC;

}
.form{
    position: relative;
    margin-top: 40px;
}
.form-btn{
    border-radius: 50px;
    padding: 10px;
    border: none;
    position: absolute;
    right: 560px;
color: #fff;
background: #0088CC;
}
.form-input:focus{
    outline: none;
}
.cardCase{
    width: 100%;
    padding: 50px 115px;
    background: linear-gradient(-10deg,rgb(109, 151, 160),rgb(109, 151, 160));
}
.card{
    position: relative;
    width: 350px;
    height:400px;
    border: 1px solid blue;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: all .3s linear;
}
.card img{
    width: 100%;
}
.card:hover{
    box-shadow: 0 7px 50px rgb(93, 167, 201);
    border: none;
}
.card h1{
    text-align: center;
}
.card .card-btn{
    padding:10px 20px;
    font-size: 15px;
    margin: 15px;
    border: 1px solid blue;
    background-color: transparent;
    color: ;
    border-radius: 5px;
    transition: all .3s linear;
}
.card .card-btn:hover{
    border: 1px solid blue;
    background-color: transparent;
    color: yellow;
    border: 1px solid blue;
    background-color: darkcyan;
    color: #000;
    box-shadow: 0 10px 50px aqua;
}
